<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194478198287-2rlkibjef3etm54gqebrd4st487i7apk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194478198287-2rlkibjef3etm54gqebrd4st487i7apk</string>
	<key>API_KEY</key>
	<string>AIzaSyCvUXLG47qe25eADozENpN6l4oo6TKG-hQ</string>
	<key>GCM_SENDER_ID</key>
	<string>194478198287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.aba</string>
	<key>PROJECT_ID</key>
	<string>aba-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>aba-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194478198287:ios:acad33e00b8d1b21a7dd7a</string>
</dict>
</plist>